@model IEnumerable<testPFA.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voiture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saison)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixR)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>           
             <td>
                @Html.DisplayFor(modelItem => item.Client)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Voiture)
             </td>
             <td>
                  @Html.DisplayFor(modelItem => item.Extras)
             </td>
             <td>
                  @Html.DisplayFor(modelItem => item.Saison)
             </td>
             <td>
                   @Html.DisplayFor(modelItem => item.PrixR)
             </td>
             <td>
                <a asp-action="Edit" asp-route-id="@item.IdReservation">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdReservation">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdReservation">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
